@model BudgetTracker.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <div class="card shadow-lg border-0 rounded-lg">
            <div class="card-header bg-transparent border-0 text-center pt-4 pb-0">
                <h3 class="font-weight-light my-2">Login</h3>
            </div>
            <div class="card-body px-5">
                <form asp-action="Login">
                    <div asp-validation-summary="ModelOnly" class="text-danger small mb-3"></div>
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Username" class="form-control" placeholder="username" />
                        <label asp-for="Username">Username</label>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <input asp-for="Password" class="form-control" placeholder="password" />
                        <label asp-for="Password">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-grid gap-2 mt-4 mb-3">
                        <button type="submit" class="btn btn-primary btn-lg grad-btn">Login</button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3 bg-transparent border-0">
                <div class="small"><a asp-action="Register">Need an account? Sign up!</a></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
